/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Global Styles */

:root {
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsla(0, 0%, 70%, 0.847);
  --text-color-light: hsl(0, 0%, 60%);
  --container-color: hsl(0, 0%, 8%);
  --colors-light-green: hsl(177, 100%, 33%);
  --colors-lucky-gray: hsl(0, 0%, 47%);
  --colors-gray: hsl(0, 0%, 77%);
  --background-dark: hsl(240, 11%, 4%);
  --font-weight-thin: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  background-color: #333;
}
