body {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem 2rem;
  background: #333;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-blog {
  padding: 0.25rem 0.5rem;
  color: var(--colors-lucky-gray);
  background-color: var(--title-color);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.title-card {
  font-size: 1.675rem;
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.author-information {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text-color);
}

.description-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}

.description {
  color: var(--colors-white);
  text-align: justify;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.125rem;
  max-width: 55rem;
  margin: 0 auto;
}

/* Card Style */
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(50% - 10px); /* Two cards per row */
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Card Content */
.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 700;
}

.card-text {
  font-size: 1em;
  color: var(--colors-nero-black);
  margin-bottom: 15px;
  text-align: justify;
}

/* Button Style */
.btn-card {
  display: inline-block;
  padding: 0.57rem 1.125rem;
  font-size: 1em;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  color: var(--colors-nero-black);
  background-color: #65b741;
}

.btn-card:hover {
  background-color: var(--colors-gray);
  color: var(--colors-lucky-gray);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
